<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Kitchen | Restaurant Management System Admin Template</title>

	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleBasic.css">
    <!-- responsive CSS
		============================================ -->

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/process.js"></script>
</head>

<style>

	.inputBG{
		background-color: rgb(203, 235, 253);
		width: 100%;
		height: 30px;
	}

	.product-status{
		padding-top: 100px;
		padding-bottom: 50px;
	}

	.product-status-wrap{
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}
</style>

<body>
	<div class="container-fluid">
		<div class="row">
			<!-- {{!-- <div class="col-lg-2 paddingReset">
			    <div class="left-sidebar-pro">
			        <nav id="sidebar" class="">
			            <div class="sidebar-header">
			                <a href="/index"><img class="main-logo" src="/img/logo/logo13.png" alt="" /></a>
			            </div>

			            <div class="left-custom-menu-adp-wrap comment-scrollbar">
			                <nav class="sidebar-nav left-sidebar-menu-pro">
			                    <ul class="metismenu" id="menu1">
			                        <li class="active">
			                            <a class="has-arrow" class="dropdown-toggle" data-toggle="dropdown">
										   <i class="fa big-icon fa-cutlery icon-wrap"></i>
										   <span class="mini-click-non">Admin Dashboard</span>
										</a>

			                           	<ul class="dropdown-menu">

			                               <li><a title="Food List" href="/admin"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Food List</span></a></li>

			                               <li><a title="Food Edit" href="/admin2"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Food Edit</span></a></li>

			                               <li><a title="Food Payment" href="/admin5"><i class="fa fa-location-arrow sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Food Payment</span></a></li>
			                            </ul>

			                        </li>

                                    <li class="active">
                                        <a class="has-arrow" class="dropdown-toggle" data-toggle="dropdown">
        								   <i class="fa big-icon fa-database icon-wrap"></i>
        								   <span class="mini-click-non">Summary</span>
            							</a>

                                       	<ul class="dropdown-menu">

                                           <li><a title="Staff" href="/staff"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Staff</span></a></li>

                                           <li><a title="Menu" href="/menu"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Menu</span></a></li>

                                           <li><a title="Voucher" href="/voucher"><i class="fa fa-location-arrow sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Voucher</span></a></li>

                                           <li><a title="Daily Sale" href="/dailysale"><i class="fa fa-line-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Daily Sale</span></a></li>

                                           <li><a title="Daily Sale" href="/monthlysale"><i class="fa fa-line-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Monthly Sale</span></a></li>

                                        </ul>

                                    </li>

			                    </ul>
			                </nav>
			            </div>
			        </nav>
			    </div>
			</div> --}} -->

			<!-- {{!-- <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 paddingReset"> --}} -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingReset">

				    <div class="all-content-wrapper">

				        <div class="header-advance-area">
				            <div class="header-top-area">
				                <div class="container-fluid">
				                    <div class="row">

				                        <div class="col-lg-12 col-md-12 col-sm-11 col-xs-12">
				                            <div class="header-top-wraper">
				                                <div class="row marginReset">

	                                				<!-- {{!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingReset">
                                						<div class="dropdown">
                                							<a class="btn dropdown-toggle" data-toggle="dropdown">
                                								<span class="admin-name"><i class="fa fa-bars"></i></span>
                                							</a>

                                							<ul id="listdown" role="menu" class="dropdown-menu animated zoomIn">

                                								<li>
                                									<a href="/index">
                                										<i class="fa big-icon fa-home icon-wrap"></i>
                                										<span class="mini-sub-pro">Home</span>
                                									</a>
                                								</li>

                                								<li class="dropdown-submenu">
                                					                <a class="has-arrow test">
                                									   <i class="fa big-icon fa-cutlery icon-wrap"></i>
                                									   Admin Dashboard
                                									   <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                									</a>

                                									<ul class="dropdown-menu">
                                										<li>
                                											<a href="/food-list">
                                												<i class="fa fa-female sub-icon-mg"></i>
                                												<span class="mini-sub-pro">Food List</span>
                                											</a>
                                										</li>

                                										<li>
                                											<a href="/food-edit">
                                												<i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i>
                                												<span class="mini-sub-pro">Food Edit</span>
                                											</a>
                                										</li>

                                										<li>
                                											<a href="/food-payment">
                                												<i class="fa fa-location-arrow sub-icon-mg" aria-hidden="true"></i>
                                												<span class="mini-sub-pro">Food Payment</span>
                                											</a>
                                										</li>
                                									</ul>

                                								</li>

                                								<li class="dropdown-submenu">
                                					                <a class="has-arrow test">
                                									   <i class="fa big-icon fa-database icon-wrap"></i>
                                									   Summary
                                									   <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                									</a>

                                									<ul class="dropdown-menu">
                                										<li><a title="Staff" href="/staff"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Staff</span></a></li>

                                										<li><a title="Menu" href="/menu"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Menu</span></a></li>

                                										<li><a title="Voucher" href="/voucher"><i class="fa fa-location-arrow sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Voucher</span></a></li>

                                										<li><a title="Daily Sale" href="/dailysale"><i class="fa fa-line-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Daily Sale</span></a></li>

                                										<li><a title="Daily Sale" href="/monthlysale"><i class="fa fa-line-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Monthly Sale</span></a></li>
                                									</ul>
                                								</li>

                                							</ul>
                                						</div>
	                                				</div> --}} -->

													<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>

                        				            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 paddingReset">
                        				                <div class="dropdown">
                        				                    <a data-toggle="dropdown" class="btn dropdown-toggle">
                        											<i class="fa fa-user-plus adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                        											<span class="admin-name">Register Here</span>
                        											<i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                        									</a>

                        				                    <ul class="dropdown-menu animated zoomIn">
                        				                        <li><a href="/adminDB"><span class="fa fa-home author-log-ic"></span>Register</a>
                        				                        </li>

                        				                        <li><a href="/login"><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                        				                        </li>
                        				                    </ul>
                        				                </div>
                        				            </div>

				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>

				            <!-- {{!-- <div class="breadcome-area">
				                <div class="container-fluid">
				                    <div class="row">
				                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				                            <div class="breadcome-list">
				                                <div class="row">

				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div> --}} -->
				        </div>

				        <div class="product-status">
				            <div class="container-fluid">
				                <div class="row">
				                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				                        <div class="product-status-wrap">
											<div class="row">
						  				    	<a href="/" class="btn btn-yellow btn-md pull-right">Return Home</a>
							  				</div>

				                        	<div class="row">
				                        		<h1>Orders Detail</h1>
				                        	</div>

				                        	<br>

				                        	<div class="row">
					                        	<table class="table-bordered table-responsive" id="dataTable">

					                        	    <thead>
					                        	        <tr>
					                        	            <th>No</th>
					                        	            <th>Order_ID</th>
					                        	            <th>Ordered Table</th>
					                        	            <th>Status</th>
																								<th>Detail</th>
					                        	        </tr>
					                        	    </thead>

					                        	    <tbody>
																					<% for(var i = 0; i< orders.length; i++){%>
					                        	        <tr>
					                        	            <td><%= i+1 %></td>
					                        	            <td><%= orders[i]._id %></td>
					                        	            <td>Table <%= orders[i].tableNo %></td>
					                        	            <td><%= (orders[i].status == '0')? 'Order' :(orders[i].status == '1')? 'Cooking' : (orders[i].status == '2')? 'Finish' : 'Complete' %></td>
																								<td><a href="/kitchens/orderdetail/<%= orders[i]._id %>"class="btn btn-orange" value="finish">Detail</a></td>
					                        	        </tr>

																					<%}%>
					                        	    </tbody>

					                        	</table>
					                        </div>

					                        <br>



				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>

				        <div class="footer footer-copyright-area">
				        	<div class="footer-copy-right">
				        		<p>Copyright &copy; 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
				        	</div>
				        </div>

				    </div>

			</div>
		</div>
	</div>

</body>
</html>
